body {
  font-size: 1.5em;
}

.main {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(6, 1fr);
  height: 100vh;
  width: 100vw;
}

 
}

.one {
  grid-area: 1 / 1 / 4 / 4;
  background-image: url(https://images.unsplash.com/photo-1503243368095-00d2d648be32?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=957833ee1d1fe3fd9d876b132592ad20&auto=format&fit=crop&w=500&q=60);
}

.two {
  grid-area: 1 / 4 / 5 / 6;
  background-image: url(https://thumb9.shutterstock.com/mosaic_250/564532/521741356/stock-photo-healthy-salad-bowl-with-quinoa-tomatoes-chicken-avocado-lime-and-mixed-greens-lettuce-parsley-521741356.jpg);
}

.three {
  grid-area: 4 / 1 / 7 / 3;
  background-color: #0000FF;
}

.four {
  grid-area: 5 / 3 / 7 / 6;
  background-color: #008080;
}

.five {
  grid-area: 4 / 3 / 5 / 4;
  background-color: #800080;
}


.main > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

@media screen and (max-width: 600px) {
  .main {
    display: block;
  }
  .main > div {
    height: 200px;
  }
}
